/*base classes*/
.container{
	width: 1170px;
	margin:0 auto;
}
.container-2{
	width: 1300px;
	margin:0 auto;
}
.inline-block{
	display: inline-block;

}
.margin-top{
	margin-top: 50px;
}
/*end base classes*/

/*header*/
.main-logo{
	width: 100px;
	margin: 30px 50px 20px 30px;
	vertical-align: top;
}
.nav-li{
	margin-right: 24px;
	font-size: 22px;
	margin-top: 37px;

}
.navigation{

}
.nav-ul{

}
.banner{
	width: 1170px;
}
.active{
	color: #EE4036;
}
.title-above-main-banner{
	margin-top: 124px;
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
	color: black;
}
.nav-a{
	font-family: "BPG Nino Mtavruli Bold", sans-serif;
	
}
/*end header*/
/*feautured section*/
.grey-box{
	width: 570px;
	background-color: #F2F2F2;
	padding: 18px 7px 41px 18px;
	vertical-align: top;
}
.little-p{
	width: 355px;
	font-size: 20px;
	line-height: 26px;
	font-family: 'Roboto', sans-serif;
}
.article-wrapper{
	margin-top: 36px;
}
.image-little{
	height: 130px;
	vertical-align: top;
	margin-right: 60px;
}
.artic-marg{
	margin-right: 25px;
}
.satauri1{
	margin-bottom: 15px;
}
.zeda-satauri{
	font-size: 22px;
	color: #3D58A6;
	font-family: 'Roboto', sans-serif;

}
.divider{
	display: inline-block;
	background-color:   #3D58A6;
	width: 1px;
	height: 26px;
	margin-right: 20px;
}
.lil-icons{
	margin-right: 20px;
	margin-top: 30px;
}
.footer-box{
	margin-bottom: 26px;
	margin-top: 68px;
}
.footer-div{
}
.contact-h{
	font-family: "BPG Nino Mtavruli Bold", sans-serif;
	font-size: 20px;
	color: #3D58A6;

}
.contact-span{
	color: #808080;
	font-size: 16px;
	font-family: "BPG Ingiri Arial", sans-serif;
}
.contact-a{
	color: black;
}
.contact-section{
	background-color: #E6E6E6;
	padding-bottom: 55px;
	padding-top: 49px;
}
.contact-ul{
	line-height: 19.57px;
}
.geo-map{
	width: 874px; 
	height: 466px;
}
.left-cont{
	vertical-align: top;
	margin-right: 40px;
}
.black-carcera{
	color: black;
}
.footer-box-3{
	margin-top: 31px;
	padding-bottom: 26px;
}

/*end feautured section*/
/*meore gverdi*/
.blue-box{
	width: 56px;
	height: 56px;
	font-family: "BPG Nino Mtavruli", sans-serif;
	background-color: #3D58A6;
	color: white;
	font-size: 48px;
	padding:6px;
	margin-top: 40px;

}
.box-p{
	font-size: 22px;
	color: #3D58A6;
	font-family: "BPG Nino Mtavruli", sans-serif;
	margin-top: 10.5px;
}
.h-article-1{
	font-size: 20px;
	color: black;
	font-family: "BPG Nino Mtavruli", sans-serif;
	margin-top: 31px;
	margin-bottom: 22.5px;

}
.article-carcerebi{
	width: 929px;
	font-size: 16px;
	font-family: "BPG Ingiri Arial", sans-serif;
	line-height: 18.8px;

}
.article-img{
	vertical-align: top;
	width: 270px;
	margin-right: 38px;
}
.section3{
	margin-top: 50px;
}



















/*end meore gverdi*/
